.filters {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    gap: 10px;
    background-color: #fff;

}
  
  .filter-button {
    /* color: #333; */
    text-transform: none;
    border: none;
    background-color: #fff;
    /* display: block; */
    font-size: 20px;
    color: gray;
    padding: 10px ;

}
  
  .filter-button:hover {
     color: rgb(12, 12, 12);
    border-bottom: 2px solid rgb(12, 12, 12);
    }
    .filter-button:focus {
      color: rgb(12, 12, 12);
     border-bottom: 2px solid rgb(12, 12, 12);
     }
   